{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}

<div class="author-profile" itemscope itemtype="https://schema.org/Person">

  <div class="author__avatar">
    {% if author.avatar contains "://" %}
    	<img src="{{ author.avatar }}" alt="{{ author.name }}">
    {% else %}
    	<img src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" alt="{{ author.name }}">
    {% endif %}
  </div>

  <div class="author__content">
    <h3 class="author__name">{{ author.name }}</h3>
    {% if author.bio %}<p class="author__bio">{{ author.bio }}</p>{% endif %}

    {% if author.location or author.employer %}
    <div class="author-meta">
      {% if author.location %}
        <span class="author-meta__item"><i class="fas fa-fw fa-map-marker-alt" aria-hidden="true"></i> {{ author.location }}</span>
      {% endif %}
      {% if author.employer %}
        <span class="author-meta__item"><i class="fas fa-fw fa-briefcase" aria-hidden="true"></i> {{ author.employer }}</span>
      {% endif %}
    </div>
    {% endif %}
  </div>

  <div class="author__urls-wrapper">
    <button type="button" class="btn btn--inverse" aria-label="Show author links">Follow</button>
    <ul class="author__urls social-grid">
      {% if author.uri %}
        <li><a href="{{ author.uri }}" title="Website" aria-label="Website"><i class="fas fa-fw fa-link" aria-hidden="true"></i><span class="link-label">{{ site.data.ui-text[site.locale].website_label | default: "Website" }}</span></a></li>
      {% endif %}
      {% if author.email %}
        <li><a href="mailto:{{ author.email }}" title="Email" aria-label="Email"><i class="fas fa-fw fa-envelope" aria-hidden="true"></i><span class="link-label">{{ site.data.ui-text[site.locale].email_label | default: "Email" }}</span></a></li>
      {% endif %}
      {% if author.keybase %}
        <li><a href="https://keybase.io/{{ author.keybase }}" title="Keybase" aria-label="Keybase"><i class="fas fa-fw fa-key" aria-hidden="true"></i><span class="link-label">Keybase</span></a></li>
      {% endif %}
      {% if author.researchgate %}
        <li><a href="{{ author.researchgate }}" title="ResearchGate" aria-label="ResearchGate"><i class="fab fa-fw fa-researchgate" aria-hidden="true"></i><span class="link-label">ResearchGate</span></a></li>
      {% endif %}
      {% if author.twitter %}
        <li><a href="https://twitter.com/{{ author.twitter }}" title="Twitter" aria-label="Twitter"><i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i><span class="link-label">Twitter</span></a></li>
      {% endif %}
      {% if author.facebook %}
        <li><a href="https://www.facebook.com/{{ author.facebook }}" title="Facebook" aria-label="Facebook"><i class="fab fa-fw fa-facebook-square" aria-hidden="true"></i><span class="link-label">Facebook</span></a></li>
      {% endif %}
      {% if author.google_plus %}
        <li><a href="https://plus.google.com/+{{ author.google_plus }}" title="Google+" aria-label="Google+"><i class="fab fa-fw fa-google-plus" aria-hidden="true"></i><span class="link-label">Google+</span></a></li>
      {% endif %}
      {% if author.linkedin %}
        <li><a href="https://www.linkedin.com/in/{{ author.linkedin }}" title="LinkedIn" aria-label="LinkedIn"><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i><span class="link-label">LinkedIn</span></a></li>
      {% endif %}
      {% if author.xing %}
        <li><a href="https://www.xing.com/profile/{{ author.xing }}" title="XING" aria-label="XING"><i class="fab fa-fw fa-xing-square" aria-hidden="true"></i><span class="link-label">XING</span></a></li>
      {% endif %}
      {% if author.instagram %}
        <li><a href="https://instagram.com/{{ author.instagram }}" title="Instagram" aria-label="Instagram"><i class="fab fa-fw fa-instagram" aria-hidden="true"></i><span class="link-label">Instagram</span></a></li>
      {% endif %}
      {% if author.tumblr %}
        <li><a href="https://{{ author.tumblr }}.tumblr.com" title="Tumblr" aria-label="Tumblr"><i class="fab fa-fw fa-tumblr-square" aria-hidden="true"></i><span class="link-label">Tumblr</span></a></li>
      {% endif %}
      {% if author.bitbucket %}
        <li><a href="https://bitbucket.org/{{ author.bitbucket }}" title="Bitbucket" aria-label="Bitbucket"><i class="fab fa-fw fa-bitbucket" aria-hidden="true"></i><span class="link-label">Bitbucket</span></a></li>
      {% endif %}
      {% if author.github %}
        <li><a href="https://github.com/{{ author.github }}" title="GitHub" aria-label="GitHub"><i class="fab fa-fw fa-github" aria-hidden="true"></i><span class="link-label">GitHub</span></a></li>
      {% endif %}
      {% if author.stackoverflow %}
        <li><a href="https://www.stackoverflow.com/users/{{ author.stackoverflow }}" title="Stack Overflow" aria-label="Stack Overflow"><i class="fab fa-fw fa-stack-overflow" aria-hidden="true"></i><span class="link-label">Stackoverflow</span></a></li>
      {% endif %}
      {% if author.lastfm %}
        <li><a href="https://lastfm.com/user/{{ author.lastfm }}" title="Last.fm" aria-label="Last.fm"><i class="fab fa-fw fa-lastfm-square" aria-hidden="true"></i><span class="link-label">Last.fm</span></a></li>
      {% endif %}
      {% if author.dribbble %}
        <li><a href="https://dribbble.com/{{ author.dribbble }}" title="Dribbble" aria-label="Dribbble"><i class="fab fa-fw fa-dribbble-square" aria-hidden="true"></i><span class="link-label">Dribbble</span></a></li>
      {% endif %}
      {% if author.pinterest %}
        <li><a href="https://www.pinterest.com/{{ author.pinterest }}" title="Pinterest" aria-label="Pinterest"><i class="fab fa-fw fa-pinterest" aria-hidden="true"></i><span class="link-label">Pinterest</span></a></li>
      {% endif %}
      {% if author.foursquare %}
        <li><a href="https://foursquare.com/{{ author.foursquare }}" title="Foursquare" aria-label="Foursquare"><i class="fab fa-fw fa-foursquare" aria-hidden="true"></i><span class="link-label">Foursquare</span></a></li>
      {% endif %}
      {% if author.steam %}
        <li><a href="https://steamcommunity.com/id/{{ author.steam }}" title="Steam" aria-label="Steam"><i class="fab fa-fw fa-steam-square" aria-hidden="true"></i><span class="link-label">Steam</span></a></li>
      {% endif %}
      {% if author.youtube %}
        <li><a href="https://www.youtube.com/user/{{ author.youtube }}" title="YouTube" aria-label="YouTube"><i class="fab fa-fw fa-youtube" aria-hidden="true"></i><span class="link-label">YouTube</span></a></li>
      {% endif %}
      {% if author.soundcloud %}
        <li><a href="https://soundcloud.com/{{ author.soundcloud }}" title="Soundcloud" aria-label="Soundcloud"><i class="fab fa-fw fa-soundcloud" aria-hidden="true"></i><span class="link-label">Soundcloud</span></a></li>
      {% endif %}
      {% if author.weibo %}
        <li><a href="https://www.weibo.com/{{ author.weibo }}" title="Weibo" aria-label="Weibo"><i class="fab fa-fw fa-weibo" aria-hidden="true"></i><span class="link-label">Weibo</span></a></li>
      {% endif %}
      {% if author.flickr %}
        <li><a href="https://www.flickr.com/{{ author.flickr }}" title="Flickr" aria-label="Flickr"><i class="fab fa-fw fa-flickr" aria-hidden="true"></i><span class="link-label">Flickr</span></a></li>
      {% endif %}
      {% if author.codepen %}
        <li><a href="https://codepen.io/{{ author.codepen }}" title="CodePen" aria-label="CodePen"><i class="fab fa-fw fa-codepen" aria-hidden="true"></i><span class="link-label">CodePen</span></a></li>
      {% endif %}
      {% if author.vine %}
        <li><a href="https://vine.co/u/{{ author.vine }}" title="Vine" aria-label="Vine"><i class="fab fa-fw fa-vine" aria-hidden="true"></i><span class="link-label">Vine</span></a></li>
      {% endif %}
      {% if author.googlescholar %}
        <li><a href="{{ author.googlescholar }}" title="Google Scholar" aria-label="Google Scholar"><i class="fas fa-fw fa-graduation-cap" aria-hidden="true"></i><span class="link-label">Google Scholar</span></a></li>
      {% endif %}
      {% if author.pubmed %}
        <li><a href="{{ author.pubmed }}" title="PubMed" aria-label="PubMed"><i class="ai ai-pubmed-square ai-fw" aria-hidden="true"></i><span class="link-label">PubMed</span></a></li>
      {% endif %}
      {% if author.orcid %}
        <li><a href="{{ author.orcid }}" title="ORCID" aria-label="ORCID"><i class="ai ai-orcid-square ai-fw" aria-hidden="true"></i><span class="link-label">ORCID</span></a></li>
      {% endif %}
      {% if author.impactstory %}
        <li><a href="{{ author.impactstory }}" title="Impactstory" aria-label="Impactstory"><i class="ai ai-impactstory ai-fw" aria-hidden="true"></i><span class="link-label">Impactstory</span></a></li>
      {% endif %}
      {% if author.wikipedia %}
        <li><a href="https://en.wikipedia.org/wiki/User:{{ author.wikipedia }}" title="Wikipedia" aria-label="Wikipedia"><i class="fab fa-fw fa-wikipedia-w" aria-hidden="true"></i><span class="link-label">Wikipedia</span></a></li>
      {% endif %}
    </ul>
  </div>
</div>
