{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button type="button" aria-label="Toggle menu"><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="{{ '/' | relative_url }}">{{ site.title }}</a></li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign link_href = link.url %}
            {% else %}
              {% assign link_href = link.url | relative_url %}
            {% endif %}
            {% if page.url contains link.url %}{% assign is_active = true %}{% else %}{% assign is_active = false %}{% endif %}
            <li class="masthead__menu-item"><a href="{{ link_href }}"{% if is_active %} class="active" aria-current="page"{% endif %}>{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
